@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
}

/* CSS for the right panel */
.right-panel {
    float: right;
    width: 30%;
    height: 100vh;
    background-color: #1B1B1B;
    color: whitesmoke;
}

/* CSS for the title section */
.title {
    display: flex;
    width: 100%;
    height: 7%;
    background-color: #7F00A2;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 3px solid #1B1B1B;
    border-left: 3px solid #1B1B1B;
    border-right: 3px solid #1B1B1B;
    border-radius: 0 0 10px 10px;
}

/* CSS for the places section */
.places {
    display: flex;
    width: 100%;
    height: 35%;
    background-color: #1B1B1B;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 3px solid #1B1B1B;
}

.placesLeft {
    width: 100%;
    height: 45%;
    background-color: #3a3e41;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    overflow: auto;
    padding: 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    border-bottom: 3px solid #1B1B1B;
    border-left: 3px solid #1B1B1B;
    border-right: 3px solid #1B1B1B;
}

.placesLeft>.firstOne {
    color: #e893ff;
}

.placesLeft>.secondOne {
    color: #a273f8;
}

.placesLeft>.nroTramo {
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
}

.placesLeft>.dst {
    color: aliceblue;
    font-weight: bold;
    font-size: 14px;
}

/* CSS for the user info section */
.user-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #3a3e41;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-left: 3px solid #1B1B1B;
}

.userPic {
    width: 40%;
}

.userPic>img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.userName {
    display: flex;
    width: 60%;
    background-color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.userPoints {
    display: flex;
    width: 70%;
    background-color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 16px;
}

.userPoints>span {
    font-weight: bold;
    margin-right: 10px;
}

.navButtons {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #3a3e41;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    border-left: 3px solid #1B1B1B;
    border-right: 3px solid #1B1B1B;
}

.startChall {
    width: 80%;
    display: flex;
    background-color: #481b55;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
}

.startChall>button {
    width: 30%;
    height: 60%;
    background-color: #7F00A2;
    color: whitesmoke;
    border: 0px solid;
    border-radius: 25px;
    margin: 10px 0px 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

.startChall>button:hover {
    background-color: #672979;
    transition: 0.3s all ease-in;
}

.updateChall {
    width: 80%;
    height: 30%;
    display: flex;
    background-color: #481b55;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

.updateChall>button {
    width: 40%;
    height: 40%;
    background-color: #7F00A2;
    color: whitesmoke;
    border: 0px solid;
    border-radius: 25px;
    margin: 10px 15px 10px 0px;
    font-size: 18px;
    font-weight: bold;
}

.updateChall>button:hover {
    background-color: #672979;
    transition: 0.3s all ease-in;
}


.cancelChall {
    width: 80%;
    height: 30%;
    display: none;
    background-color: #481b55;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

.cancelChall>button {
    width: 30%;
    height: 40%;
    background-color: #7F00A2;
    color: whitesmoke;
    border: 0px solid;
    border-radius: 25px;
    margin: 10px 0px 10px 10px;
    font-size: 18px;
    font-weight: bold;
}

.cancelChall>button:hover {
    background-color: #672979;
    transition: 0.3s all ease-in;
}

/* CSS for the go back section */
.go-back {
    display: flex;
    width: 100%;
    height: 13%;
    background-color: #3a3e41;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    border-left: 3px solid #1B1B1B;
    border-right: 3px solid #1B1B1B;
}

.go-back>button {
    width: 50%;
    height: 50%;
    background-color: #7F00A2;
    color: whitesmoke;
    border: 0px solid;
    border-radius: 25px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.go-back>button:hover {
    background-color: #672979;
    transition: 0.3s all ease-in;
}

/* MODAL STYLING */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 350px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 8%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex>img {
    margin-right: 20px;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

.modal select {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}

.btnAccept {
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: #7F00A2;
    color: white;
    border: none;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.btn-open {
    cursor: pointer;
    border: none;
    font-weight: 600;
    position: absolute;
    bottom: 150px;
}

.btn-close {
    cursor: pointer;
    border: none;
    font-weight: 600;
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

#map {
    display: flex;
    width: 70%;
    height: 100vh;
    background-color: #1B1B1B;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* STYLING BLA */
.modalOpc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 350px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 8%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.modalOpc .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Use space-between to position items at the ends */
}

.flex>img {
    margin-right: 20px;
}

.boldBoi {
    color: #7F00A2;
}

.modalOpc input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
    border: 2px solid #7F00A2;
}

.modalOpc select {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.modalOpc p {
    font-size: 0.9rem;
    color: #272727;
    margin: 0.4rem 0 0.2rem;
}

.btnAcceptVic {
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: #7F00A2;
    color: white;
    border: none;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.btnAcceptGeo {
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: #7F00A2;
    color: white;
    border: none;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-left: 10px;
}

.overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden2 {
    display: none;
}