/* Sticky Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--bg-color);
    color: #fff;
    padding: 10px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    width: 25%;
    align-items: center;
    margin-left: 20px;
    border-radius: 40px;
    background-color: #fff;
    padding: 5px;
}

.search-container input {
    width: 100%;
    border: none;
    padding: 10px 15px;
    background-color: transparent;
}

.search-container input:focus {
    outline: none;
}

.search-container i {
    margin-right: 10px;
    color: #333;
}

nav {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

nav a {
    height: 30px;
    display: flex;
    margin-left: 20px;
    padding: 10px 16px;
    background-color: var(--bg-color);
    color: var(--white);
    font-size: 0.96em;
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--buttonsHover);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--buttonsHover);
}

nav a i {
    margin-left: 5px;
}

#left-panel {
    position: fixed;
    top: 82px;
    left: 0;
    width: 25%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    overflow: auto;
    text-align: center;
    align-items: center;
    background-color: var(--leftPanel);
}

.markerBtn {
    width: 20%;
    height: 35px;
    border: none;
    border-radius: 30px;
    background-color: var(--buttons);
    color: var(--white);
    font-size: 0.96em;
    font-weight: bold;
}

.markerBtn:hover {
    background-color: var(--buttonsHover);
}

.challengeBtn {
    width: 60%;
    height: 35px;
    border: none;
    border-radius: 30px;
    background-color: var(--buttons);
    color: var(--white);
    font-size: 0.96em;
    font-weight: bold;
}

.challengeBtn:hover {
    background-color: var(--buttonsHover);
}

.section {
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
}

.section-user {
    background-color: var(--sections);
    color: white;
    height: 20vh;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-info img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.section-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sections);
    color: white;
    height: 5.2vh;
}

.section-marker p {
    align-self: center;
    margin-right: 10px;
}

.section-challenges {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sections);
    color: white;
    height: 5.2vh;
}

.section-leaderboard {
    background-color: var(--sections);
    color: white;
    height: 22vh;
}

.section-leaderboard .user {
    display: flex;
    justify-content: space-between;
}

.user-position-1 {
    color: goldenrod;
}
.user-position-2 {
    color: silver;
}
.user-position-3 {
    color: #CD7F32;
}

.section-leaderboard h3 {
    margin-top: 0;
}

.section-leaderboard ol {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.section-leaderboard ol li {
    margin-bottom: 5px;
}

.section-leaderboard hr {
    border: none;
    border-top: 2px solid var(--softPink);
}

.logoutBtn {
    width: 60%;
    height: 35px;
    border: none;
    border-radius: 30px;
    background-color: var(--buttons);
    color: var(--white);
    font-size: 0.96em;
    font-weight: bold;
}

.logoutBtn:hover {
    background-color: var(--buttonsHover);
    transition: 0.3s ease-out;
}

/* Styiling of the marker's features */

.features {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.features>div {
    align-items: center;
    color: var(--white);
    background: #8b61ff;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    font-size: 10px;
    gap: 5px;
    padding: 5px;
}

.highlight {
    background-color: #ff028d;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 80px;
    padding: 8px 15px;
    width: auto;
}

.highlight::after {
    border-top: 9px solid #ff028d;
}

.highlight .details {
    display: flex;
}

.highlight .icon svg {
    width: 50px;
    height: 50px;
}

.star {
    color: var(--white);
    font-size: clamp(8px, 1.2vw, 10px);
}

.bathroom {
    color: var(--white);
}

.wheelchair {
    color: var(--white);
}

.chargePoint {
    color: var(--white);
}

.check-circle {
    color: #61FF8B;
}

.times-circle {
    color: #fa3434;
}

/* Right Panel Styles */
#right-panel {
    position: fixed;
    top: 82px;
    width: 75%;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    margin-left: 25%;
    overflow: autox;
}