/* Sticky Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--bg-color);
    color: #fff;
    padding: 10px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    width: 25%;
    align-items: center;
    margin-left: 20px;
    border-radius: 40px;
    background-color: #fff;
    padding: 5px;
}

.search-container input {
    width: 100%;
    border: none;
    padding: 10px 15px;
    background-color: transparent;
}

.search-container input:focus {
    outline: none;
}

.search-container i {
    margin-right: 10px;
    color: #333;
}

nav {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

nav a {
    height: 30px;
    display: flex;
    margin-left: 20px;
    padding: 10px 16px;
    background-color: var(--bg-color);
    color: var(--white);
    font-size: 0.96em;
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--buttonsHover);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--buttonsHover);
}

nav a i {
    margin-left: 5px;
}

#left-panel {
    position: fixed;
    top: 82px;
    left: 0;
    width: 25%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    overflow: auto;
    text-align: center;
    align-items: center;
    background-color: var(--leftPanel);
}

.markerBtn {
    width: 20%;
    height: 35px;
    border: none;
    border-radius: 30px;
    background-color: var(--buttons);
    color: var(--white);
    font-size: 0.96em;
    font-weight: bold;
}

.markerBtn:hover {
    background-color: var(--buttonsHover);
}

.challengeBtn {
    width: 60%;
    height: 35px;
    border: none;
    border-radius: 30px;
    background-color: var(--buttons);
    color: var(--white);
    font-size: 0.96em;
    font-weight: bold;
}

.challengeBtn:hover {
    background-color: var(--buttonsHover);
}

.section {
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
}

.section-user {
    background-color: var(--sections);
    color: white;
    height: 20vh;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-info img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.section-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sections);
    color: white;
    height: 5.2vh;
}

.section-marker p {
    align-self: center;
    margin-right: 10px;
}

.section-challenges {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sections);
    color: white;
    height: 5.2vh;
}

.section-leaderboard {
    background-color: var(--sections);
    color: white;
    height: 22vh;
}

.section-leaderboard .user {
    display: flex;
    justify-content: space-between;
}

.user-position-1 {
    color: goldenrod;
}
.user-position-2 {
    color: silver;
}
.user-position-3 {
    color: #CD7F32;
}

.section-leaderboard h3 {
    margin-top: 0;
}

.section-leaderboard ol {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.section-leaderboard ol li {
    margin-bottom: 5px;
}

.section-leaderboard hr {
    border: none;
    border-top: 2px solid var(--softPink);
}

.logutBtn {
    width: 60%;
    height: 35px;
    border: none;
    border-radius: 30px;
    background-color: var(--buttons);
    color: var(--white);
    font-size: 0.96em;
    font-weight: bold;
}

.logutBtn:hover {
    background-color: var(--buttonsHover);
}

/* Right Panel Styles */
#right-panel {
    position: fixed;
    top: 82px;
    width: 75%;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    margin-left: 25%;
    overflow: autox;
}